<head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<div class="container mt-3 bg-primary mb-4" style="width: 50rem;" >
      <div class="card-body ">
<form *ngIf="utilisateur && affectation" (ngSubmit)="onSubmit()" #utilisateurForm="ngForm"  >
    <div class="row g-3 ">
      <div class="col s8 offset-s2">
        <div class="card-panel">
          
          <div class="input-field col-md-4  " *ngIf="isAddForm">
            <label for="affectation" >Affect</label>
              <select  id="inputStheme" class="form-control border-info mb-3" [(ngModel)]="af" name="type" required>
                  <option [ngValue]="null" disabled>Choisir un type ...</option>
                  <option *ngFor="let t of affectation" [ngValue]="t">{{t.idType}}-{{t.nom}}</option>
              </select>
          </div>

          <!--utilisateur codeUser --> 
          <div *ngIf="isAddForm" class="form-group col-md-4">
           <label for="codeUser">Code utilisateur</label>
           <input type="text" class="form-control" id="picture"
                   required
                  [(ngModel)]="utilisateur.codeUser" name="codeUser"
                  #codeUser="ngModel">
   
           <div [hidden]="codeUser.valid || codeUser.pristine"
                 class="card-panel red accent-1">
                 le code est requis
           </div>
         </div> 

          <!-- utilisateur nom -->
          <div class="form-group col-4 mb-4">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name"
                    required
                   [(ngModel)]="utilisateur.nom" name="nom"
                   #nom="ngModel">
    
            <div [hidden]="nom.valid || nom.pristine"
                  class="card-panel red accent-1">
                  Le nom  est requis 
            </div>
          </div>

    
          <!-- utilisateur prenom-->
          <div class="form-group col-4 mb-4">
            <label for="prenom">Prenom</label>
            <input type="text" class="form-control" id="hp"
                    required
                   [(ngModel)]="utilisateur.prenom" name="prenom"
                   #prenom="ngModel">
             <div [hidden]="prenom.valid || prenom.pristine"
                   class="card-panel red accent-1">
                   Le prenom est requis
             </div>
          </div>
    
          <!-- utilisateur email -->
          <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="cp"
                    required
                   [(ngModel)]="utilisateur.email" name="email"
                   #email="ngModel">
             <div [hidden]="email.valid || email.pristine"
                   class="card-panel red accent-1">
                   le mail est requis
             </div>
          </div>

          <!-- utilisateur date -->
          <div class="form-group">
            <label for="dateNaiss">Date de naisance</label>
            <input type="date" class="form-control" id="dateNaiss"
                    required
                   [(ngModel)]="utilisateur.dateNaiss" name="dateNaiss"
                   #dateNaiss="ngModel">
             <div [hidden]="dateNaiss.valid || dateNaiss.pristine"
                   class="card-panel red accent-1">
                   la date de naissance est requis
             </div>
          </div>
          <!-- utilisateur tel -->
          <div class="form-group">
            <label for="tel">Télephone</label>
            <input type="tel" class="form-control" id="telephone"
                    required
                   [(ngModel)]="utilisateur.telephone" name="dateNaiss"
                   #telephone="ngModel">
             <div [hidden]="telephone.valid || telephone.pristine"
                   class="card-panel red accent-1">
                   le telephone est requis
             </div>
          </div>

         <!-- utilisateur societé -->
         <div class="form-group" >
          <label for="societe">Societé </label>
          <input type="text" class="form-control" id="societe"
                  required
                 [(ngModel)]="utilisateur.societe" name="societe"
                 #societe="ngModel">
           <div [hidden]="societe.valid || societe.pristine"
                 class="card-panel red accent-1">
                 la societé est requis
           </div>
        </div>
        <!-- utilisateur login -->
        <div class="form-group" >
          <label for="login">Mot de passe </label>
          <input type="password" class="form-control" id="login"
                  required
                 [(ngModel)]="utilisateur.login" name="login"
                 #login="ngModel">
           <div [hidden]="login.valid || login.pristine"
                 class="card-panel red accent-1">
                 le mot de passe est requis
           </div>
        </div>
        

     <!-- utilisateur diplome -->
          <div class="form-group" *ngIf="isAddForm && af.nom ==='Apprenant'">
            <label for="diplome">Votre dernier diplome </label>
            <input type="text" class="form-control" id="diplome"
                    required
                   [(ngModel)]="apprenant.dernierDiplome" name="diplome"
                   #dernierDiplome="ngModel">
             <div [hidden]="dernierDiplome.valid || dernierDiplome.pristine"
                   class="card-panel red accent-1">
                   le diplome est requis
             </div>
          </div>
          
          <!-- utilisateur certification -->
          <div class="form-group" *ngIf="isAddForm && af.nom ==='Formateur'">
            <label for="certification">Votre certification </label>
            <input type="text" class="form-control" id="certification"
                    required
                   [(ngModel)]="formateur.certifications" name="certification"
                   #certification="ngModel">
             <div [hidden]="certification.valid || certification.pristine"
                   class="card-panel red accent-1">
                   la certification est requis
             </div>
          </div>

           <!-- utilisateur fonction -->
           <div class="form-group" *ngIf="isAddForm && af.nom ==='Administrateur'">
            <label for="fonction">fonction </label>
            <input type="text" class="form-control" id="fonction"
                    required
                   [(ngModel)]="responsable.fonction" name="fonction"
                   #certification="ngModel">
             <div [hidden]="certification.valid || certification.pristine"
                   class="card-panel red accent-1">
                   la certification est requis
             </div>
          </div>
           
          <!-- Submit button -->
          <div class="divider"></div>
          <div class="section center">
            <button type="submit"
              class="waves-effect waves-light btn"
              [disabled]="!utilisateurForm.form.valid">
              Valider</button>
          </div>
    
        </div>
      </div>
    </div>
  </form>
      </div>
</div>
  <h3 *ngIf="!utilisateur" class="center"><app-loder></app-loder></h3>