.nav-link:hover{
    background-color: #0275d8;
    margin-bottom: 0;
  }

  .h5{
    margin-bottom: 0; 
  }

  @media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{   }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
    .dropdown-menu> li> a:hover{
      background-color:#0275d8 !important;
    }
  }

  